<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.austin.siwan.bitle" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bitle"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ListMerchantActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity"/>

        <activity android:name=".InvoiceWebViewActivity"/>

        <activity
            android:name=".MerchantDetailActivity"
            android:label="Merchant Detail" />

        <activity
            android:name=".MenuActivity"
            android:label="Menu" />

        <activity
            android:name=".CloseTabActivity"
            android:label="Your Check" />

        <service android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
